﻿@media screen and (max-width: 1199px) {
  .navbar-header {
    float: none !important;
    display: block !important;
    margin: 0 auto !important;
  }
  .navigation .logo {
    margin: 0 auto;
    display: block;
  }
}
@media screen and (max-width: 991px) {
  .about-us {
    height: auto !important;
  }
  .container-blocks {
    float: left !important;
  }
  .bg-block .management-block .persons-container img {
    width: 15% !important;
    padding-top: 20px;
  }
  .bg-block .management-block .persons-container {
    height: auto;
    text-align: center;
  }
  .modal .modal-content .modal-article .button-section button {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 767px) {
  .news-block {
    padding: 20px !important;
  }
  .assistants {
    display: none;
  }
  .container-blocks {
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  body header .navigation {
    padding: 5px !important;
  }
  .login {
    margin: 0 !important;
  }
  .modal .modal-content {
    width: 90% !important;
  }
  .nav-opening-title {
    height: 480px !important;
  }
  .nav-opening-title h1 {
    font-size: 18px !important;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
  }
  .navbar-toggle:hover {
    background: #fff;
  }
  .about-us {
    padding-bottom: 25px !important;
  }
  h1 {
    margin-top: 10px !important;
  }
  body .partners {
    height: auto;
  }
  body .partners img:hover {
    border: none !important;
  }
}