﻿body {
  background: #f0f0f0;
  margin: 0;
  padding: 0;
}
body .sticky {
  position: fixed;
  top: 0;
  width: 100%;
  margin-bottom: 80px;
  transition: 0.4s;
  z-index: 1000;
}
body .sticky + .content {
  padding-top: 60px;
  transition: 0.4s;
}
body .slider {
  background-size: cover;
  border-top: 5px solid #be3343 !important;
}
body #navbar {
  overflow: hidden;
  background-color: #333;
}
body .header {
  width: 100%;
  height: auto;
  z-index: 1000;
  background: #a90329;
  background: -moz-linear-gradient(top, #a90329 0, #8f0222 44%, #6d0019 100%);
  background: -webkit-linear-gradient(top, #a90329 0, #8f0222 44%, #6d0019 100%);
  background: linear-gradient(to bottom, #a90329 0, #8f0222 44%, #6d0019 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a90329', endColorstr='#6d0019', GradientType=0);
}
body .header .navbar-default,
body .header .navbar {
  border: 0px;
  margin-bottom: 0px;
}
body .header .login {
  background: #f17d00;
  border: 1px solid #fff !important;
  margin-left: 15px;
}
body .header .login:hover {
  background: #e3440c !important;
}
body .nav-opening-title {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../img/header-background.jpg');
  height: 800px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
body .nav-opening-title h1 {
  text-align: center;
  display: block;
  text-transform: uppercase;
  font-family: 'Julius Sans One', sans-serif;
  font-weight: bold;
  color: #fff;
  font-size: 38px;
  animation-delay: 0.3s;
}
body .nav-opening-title hr {
  width: 25%;
  height: 3px;
  background: #be3343;
  border: none;
  animation-delay: 0.3s !important;
}
body .nav-opening-title span {
  text-align: center;
  display: block;
  font-family: 'Julius Sans One', sans-serif;
  color: #fff;
  animation-delay: 1s;
}
body .nav-opening-title .btn-scroll {
  margin: 0 auto;
  display: block;
  z-index: 2;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: red;
  letter-spacing: 0.1em;
  text-decoration: none;
  transition: opacity 0.3s;
  margin-top: 50px;
  width: 50px;
}
body .nav-opening-title .btn-scroll span {
  position: relative;
  top: 0;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #b7b7b7;
  border-radius: 50px;
  box-sizing: border-box;
}
body .nav-opening-title .btn-scroll span:before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: grey;
  border-radius: 100%;
  -webkit-animation: scrollAnimate 2s infinite;
  animation: scrollAnimate 2s infinite;
  box-sizing: border-box;
}
body header {
  width: 100%;
  background: #6cbaff;
  padding: 10px;
}
body header .navigation {
  padding: 5px 40px 5px 10px;
  background: transparent;
}
body header .navigation .logo {
  width: 200px;
  padding: 15px;
}
body header .navigation #myNavbar a {
  color: #fff;
  font-weight: 700;
  transition: 0.4s;
  border: 2px solid transparent;
}
body header .navigation #myNavbar a:hover {
  color: #fff;
  transition: 0.4s;
  background: #be3343;
  border: 2px solid #fff;
}
body header .navigation #myNavbar a:active {
  color: #f3f3f3;
  transition: 0.4s;
  background: #588bb9;
  border: 2px solid #fff;
}
body .about-us {
  background: url(../img/background.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 3px solid #d7d7d7;
}
body .about-us h1 {
  text-align: center;
  margin-top: 100px;
}
body .about-us hr {
  width: 15%;
  height: 3px;
  background: #be3343;
  border: none;
}
body .about-us span {
  display: block;
  font-size: 17px;
}
body .about-us img {
  width: 100%;
}
body .about-us h3 {
  color: #be3343;
  font-size: 20px;
  transition: 0.4s;
}
body .about-us h3:hover {
  color: #be3343;
  font-size: 21px;
  transition: 0.4s;
}
body .about-us a {
  text-decoration: none;
}
body .partners {
  height: 380px;
  padding: 50px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f0f0f0+0,ffffff+56,ffffff+56 */
  background: #f0f0f0;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f0f0f0 0%, #ffffff 56%, #ffffff 56%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f0f0f0 0%, #ffffff 56%, #ffffff 56%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f0f0f0 0%, #ffffff 56%, #ffffff 56%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f0f0', endColorstr='#ffffff', GradientType=0);
  /* IE6-9 */
  border-top: 3px solid #be3343;
}
body .partners .partner-blocks h1 {
  display: block;
  text-align: center;
  font-weight: bold;
}
body .partners .partner-blocks hr {
  width: 100px;
  height: 3px;
  background: #be3343;
  border: none;
  animation-delay: 0.3s !important;
  margin-bottom: 50px;
}
body .partners .partner-blocks img {
  display: block;
  width: 150px;
  height: 130px;
  margin: 0 auto;
  cursor: pointer;
  transition: 0.4s;
}
body .partners .partner-blocks img:hover {
  margin: 0 auto;
  transition: 0.4s;
  padding: 5px;
}
body .news-block {
  margin: 0 auto;
  color: #be3343;
  font-weight: 700;
  padding: 50px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
  background: url(../img/background2.jpg) repeat center;
  background-position: center;
  background-size: cover;
}
body .news-block h1 {
  display: block;
  text-align: center;
  font-weight: bold;
}
body .news-block hr {
  width: 100px;
  height: 3px;
  background: #be3343;
  border: none;
  animation-delay: 0.3s !important;
  margin-bottom: 50px;
}
body .news-block .container-blocks:hover {
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.5);
  transition: 0.4s;
}
body .news-block .container-blocks {
  background: #fff;
  width: 30%;
  padding: 20px;
  margin-left: 10px;
  margin-right: 10px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  transition: 0.4s;
  margin-bottom: 50px;
}
body .news-block .container-blocks .title-block {
  font-weight: 700;
  word-break: break-word;
}
body .news-block .container-blocks .title-block h4 {
  font-weight: inherit;
}
body .news-block .container-blocks .img-block {
  width: 100%;
  height: 171px;
  max-width: 311px;
  max-height: 171px;
  margin: 0 auto;
}
body .news-block .container-blocks .img-bg-1 {
  background: url('../img/kaposvar2.jpg');
  background-position: center;
  background-size: cover;
}
body .news-block .container-blocks .img-bg-2 {
  background: url('../img/gdpr.jpg');
  background-position: center;
  background-size: cover;
}
body .news-block .container-blocks .img-bg-3 {
  background: url('../img/forum.jpg');
  background-position: center;
  background-size: cover;
}
body .news-block .container-blocks hr {
  margin-bottom: 5px;
  height: 2px;
}
body .news-block .container-blocks .lead-block {
  padding: 15px;
  word-break: break-word;
  color: #000;
  font-weight: 400;
}
body .news-block .container-blocks span {
  padding: 10px;
  width: 60%;
  text-align: center;
  background: red;
  color: #fff;
  background: #be3343;
  display: block;
  margin: 0 auto;
  transition: 0.4s;
}
body .news-block .container-blocks span:hover {
  background: #a90329;
  transition: 0.4s;
}
body .news-block .container-blocks a {
  text-decoration: none;
}
body #map {
  width: 100%;
  height: 399px;
}
body footer {
  display: flex;
  padding: 20px 0 20px;
  align-items: center;
  background: #0f0e0e;
}
body footer h3 {
  color: #fff;
  border-bottom: 1px solid #f0f0f0;
  padding: 10px;
}
body footer span {
  display: block;
  color: #fff;
  padding: 10px;
}
body footer a {
  padding: 10px;
  color: #fff;
  display: block;
  text-decoration: none;
}
body footer a:hover {
  color: #fff;
}
body footer img {
  width: 125px;
}
.add-btn {
  display: block;
  padding: 10px 20px;
  background: #ff5c23;
  border: 0;
  color: #fff;
  cursor: pointer;
  transition: 0.2s;
}
.add-btn:hover {
  background: #4fa3fc;
  transition: 0.2s;
}
.modal {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
  animation-name: animacio_speed;
  animation-duration: 0.3s;
}
.modal .modal-content {
  background: #f4f4f4;
  margin: 100px auto;
  width: 40%;
  border: none;
}
.modal .modal-content .modal-head {
  width: 100%;
  height: auto;
  position: relative;
  padding: 20px;
  background: -moz-linear-gradient(top, #a90329 0, #8f0222 44%, #6d0019 100%);
  background: -webkit-linear-gradient(top, #a90329 0, #8f0222 44%, #6d0019 100%);
  background: linear-gradient(to bottom, #a90329 0, #8f0222 44%, #6d0019 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a90329', endColorstr='#6d0019', GradientType=0);
  display: flex;
  justify-content: space-between;
}
.modal .modal-content .modal-head span {
  color: #fff;
  font-size: 18px;
  font-family: 'Julius Sans One', sans-serif;
  font-weight: 700;
}
.modal .modal-content .modal-head .closeBtn {
  position: absolute;
  color: #fff;
  right: 10px;
  top: 2px;
  font-size: 30px;
  transition: 0.4s;
}
.modal .modal-content .modal-head .closeBtn:hover,
.modal .modal-content .modal-head .closeBtn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
  transition: 0.4s;
}
.modal .modal-content .registration-block {
  background: url('../img/folyoirat.png');
  width: 100%;
  background-position: center center;
  background-size: cover;
  display: block;
  padding: 25px 0 25px;
}
.modal .modal-content .registration-block span {
  display: block;
  text-align: center;
  color: #fff;
  padding-bottom: 15px;
}
.modal .modal-content .registration-block a {
  text-decoration: none;
}
.modal .modal-content .registration-block a p {
  color: #fff;
  padding: 10px;
  background: #f17d00;
  width: 125px;
  margin: 0 auto;
  text-align: center;
  transition: 0.4s;
  border: 1px solid transparent;
}
.modal .modal-content .registration-block a p:hover {
  background: #e3440c;
  transition: 0.4s;
  border: 1px solid #fff;
}
.modal .modal-content .modal-article {
  width: 100%;
  padding: 25px 20px;
  word-break: break-all;
  margin: 0 auto;
  background: #f0f0f0;
}
.modal .modal-content .modal-article .user-input {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}
.modal .modal-content .modal-article .user-password {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}
.modal .modal-content .modal-article input {
  width: 100%;
  text-align: center;
  width: 336px;
  height: 42px;
  margin: 0 auto;
}
.modal .modal-content .modal-article .button-section {
  display: flex;
  justify-content: center;
}
.modal .modal-content .modal-article .button-section button {
  width: 150px;
}
.modal .modal-content .modal-article .button-section .btn-login {
  background: #5fa25d !important;
}
.modal .modal-content .modal-article .button-section .btn-login:hover {
  background: #5bb659 !important;
}
.modal .modal-content .modal-article .button-section .btn-cancel {
  background: #be3343 !important;
}
.modal .modal-content .modal-article .button-section .btn-cancel:hover {
  background: #d24252 !important;
}
.carousel-inner .item {
  border-top: 3px solid #be3343;
  text-align: center;
  height: 400px;
}
.control-buttons {
  text-align: center;
}
.transition-timer-carousel-progress-bar {
  height: 2px;
  background-color: #be3343;
  width: 0;
  margin: 0 0 0 0;
  border: none;
  z-index: 11;
  position: relative;
}
.carousel-control {
  z-index: 11;
}
.slider1 {
  background: url('../img/header-1.jpg');
  background-size: cover;
  background-position: center center;
}
.slider1 h1,
.slider1 h3 {
  font-weight: 700;
}
.slider2 {
  background: url('../img/gdpr-europe.jpg');
  background-size: cover;
  background-position: center center;
}
.slider2 h1,
.slider2 h3 {
  font-weight: 700;
}
.slider3 {
  background: url('../img/header-2.jpg');
  background-size: cover;
  background-position: center center;
}
.slider3 h1,
.slider3 h3 {
  font-weight: 700;
}
/*  Keyfreams  */
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes scrollAnimate {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes scrollAnimate {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes animacio_speed {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.inprogress {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
.inprogress span {
  padding: 100px 0 100px;
  font-size: 25px;
}
.bg-block2 {
  background: url(../img/background.jpg) repeat center;
  animation-delay: 0.1s;
  border-bottom: 2px solid #be3343;
}
.bg-block {
  background: url(../img/background3.jpg) repeat center;
  background-position: center;
  background-size: cover;
  animation-delay: 0.1s;
  border-bottom: 2px solid #be3343;
}
.bg-block .document-bock {
  background: #fff;
  height: auto;
  padding: 20px;
  margin: 40px 0 40px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  border-bottom: 2px solid gainsboro;
}
.bg-block .container-blocks {
  background: transparent;
  width: 100%;
  padding: 20px;
}
.document-block .assistants {
  float: right;
}
.document-block h3 {
  display: block;
  font-weight: bold;
  color: #be3343;
  text-align: center;
}
.document-block .management-block h1 {
  display: block;
  font-weight: bold;
  color: #be3343;
}
.document-block .management-block hr {
  width: 100px;
  height: 3px;
  background: #be3343;
  border: none;
  animation-delay: 0.3s !important;
  margin-bottom: 50px;
}
.document-block .management-block a {
  display: block;
  text-decoration: none;
  color: #be3343;
}
.document-block .container-blocks:hover {
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.5);
  transition: 0.2s;
}
.document-block .container-blocks {
  width: 30%;
  padding: 20px;
  background: #fff;
  margin-left: 10px;
  margin-right: 10px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  margin-bottom: 50px;
}
.document-block .container-blocks .title {
  background: #be3343;
  height: 50px;
}
.document-block .container-blocks img {
  margin: 0 auto;
  display: block;
}
.document-block .container-blocks a {
  color: #be3343;
  font-size: 15px;
  font-weight: 700;
}
.document-block .container-blocks a span {
  text-align: center;
  display: block;
  padding-bottom: 15px;
}
.document-block .container-blocks p {
  text-align: center;
  display: block;
  line-height: 5px;
  padding-top: 5px;
}
.management-block {
  background: #fff;
  height: auto;
  padding: 20px;
  margin: 40px 0 40px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.management-block .bg-color {
  background: #f4f4f4;
}
.management-block h1 {
  display: block;
  font-weight: bold;
  color: #be3343;
}
.management-block .persons-container {
  height: 180px;
  border: 1px solid #cecece;
  margin-bottom: 10px;
}
.management-block .persons-container h3 {
  display: block;
  font-weight: bold;
  color: #be3343;
}
.management-block .persons-container span {
  display: block;
  font-weight: bold;
  font-size: 18px;
}
.management-block .persons-container img {
  width: 100%;
  padding-top: 20px;
}
.management-block .calendar {
  background: #be3343;
  padding: 10px;
  margin-bottom: 20px;
}
.management-block .calendar h3 {
  color: #fff;
  margin: 0;
}
.management-block .img-section img {
  width: 100%;
  display: block;
}
.management-block .credit-account-number h3 {
  color: #be3343;
  font-weight: 700;
}
.management-block .credit-account-number span {
  display: block;
  padding-bottom: 15px;
}
#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #be3343;
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top:hover {
  background: #8f0222;
}
#return-to-top:hover i {
  color: #fff;
  top: 5px;
}
#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #be3343;
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 15;
}
#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top:hover {
  background: #8f0222;
}
#return-to-top:hover i {
  color: #fff;
  top: 5px;
}