@grey: #f0f0f0;
@white: #fff;
@black: #000;
@blue: #588bb9;
@light-blue: #6cbaff;
@light-grey: #f3f3f3;
@bordo: #be3343;
@dark-bordo: #a90329;
@dark: #0f0e0e;
@orange: #f17d00;
@dark-orange: #e3440c;
@dark-grey: #484848;
@green: #5fa25d;

body {
    background: @grey;
    margin: 0;
    padding: 0;

    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
        margin-bottom: 80px;
        transition: 0.4s;
        z-index: 1000;
    }

    .sticky + .content {
        padding-top: 60px;
        transition: 0.4s;
    }

    .slider {
        background-size: cover;
        border-top: 5px solid @bordo !important;
    }

    #navbar {
        overflow: hidden;
        background-color: #333;
    }

    .header {
        width: 100%;
        height: auto;
        z-index: 1000;
        background: #a90329;
        background: -moz-linear-gradient(top, #a90329 0, #8f0222 44%, #6d0019 100%);
        background: -webkit-linear-gradient(top, #a90329 0, #8f0222 44%, #6d0019 100%);
        background: linear-gradient(to bottom, #a90329 0, #8f0222 44%, #6d0019 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a90329', endColorstr='#6d0019', GradientType=0);

        .navbar-default, .navbar {
            border: 0px;
            margin-bottom: 0px;
        }

        .login {
            background: @orange;
            border: 1px solid @white !important;
            margin-left: 15px;
        }

        .login:hover {
            background: @dark-orange !important;
        }
    }

    .nav-opening-title {
        display: flex;
        justify-content: center;
        align-items: center;
        background: url('../img/header-background.jpg');
        height: 800px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;

        h1 {
            text-align: center;
            display: block;
            text-transform: uppercase;
            font-family: 'Julius Sans One', sans-serif;
            font-weight: bold;
            color: @white;
            font-size: 38px;
            animation-delay: 0.3s;
        }

        hr {
            width: 25%;
            height: 3px;
            background: @bordo;
            border: none;
            animation-delay: 0.3s !important;
        }

        span {
            text-align: center;
            display: block;
            font-family: 'Julius Sans One', sans-serif;
            color: @white;
            animation-delay: 1s;
        }

        .btn-scroll {
            margin: 0 auto;
            display: block;
            z-index: 2;
            -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
            color: red;
            letter-spacing: .1em;
            text-decoration: none;
            transition: opacity .3s;
            margin-top: 50px;
            width: 50px;

            span {
                position: relative;
                top: 0;
                left: 50%;
                width: 30px;
                height: 50px;
                margin-left: -15px;
                border: 2px solid #b7b7b7;
                border-radius: 50px;
                box-sizing: border-box;
            }

            span:before {
                position: absolute;
                top: 10px;
                left: 50%;
                content: '';
                width: 6px;
                height: 6px;
                margin-left: -3px;
                background-color: grey;
                border-radius: 100%;
                -webkit-animation: scrollAnimate 2s infinite;
                animation: scrollAnimate 2s infinite;
                box-sizing: border-box;
            }
        }
    }

    header {
        width: 100%;
        background: @light-blue;
        padding: 10px;

        .navigation {
            padding: 5px 40px 5px 10px;
            background: transparent;

            .logo {
                width: 200px;
                padding: 15px;
            }

            #myNavbar {
                a {
                    color: @white;
                    font-weight: 700;
                    transition: 0.4s;
                    border: 2px solid transparent;
                }

                a:hover {
                    color: @white;
                    transition: 0.4s;
                    background: @bordo;
                    border: 2px solid @white;
                }

                a:active {
                    color: @light-grey;
                    transition: 0.4s;
                    background: @blue;
                    border: 2px solid @white;
                }
            }
        }
    }

    .about-us {
        background: url(../img/background.jpg) no-repeat center;
        background-size: cover;
        background-attachment: fixed;
        height: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 3px solid #d7d7d7;

        h1 {
            text-align: center;
            margin-top: 100px;
        }

        hr {
            width: 15%;
            height: 3px;
            background: @bordo;
            border: none;
        }

        span {
            display: block;
            font-size: 17px;
        }

        img {
            width: 100%;
        }

        h3 {
            color: @bordo;
            font-size: 20px;
            transition: 0.4s;
        }

        h3:hover {
            color: @bordo;
            font-size: 21px;
            transition: 0.4s;
        }

        a {
            text-decoration: none;
        }
    }

    .partners {
        height: 380px;
        padding: 50px;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f0f0f0+0,ffffff+56,ffffff+56 */
        background: rgb(240,240,240); /* Old browsers */
        background: -moz-linear-gradient(top, rgba(240,240,240,1) 0%, rgba(255,255,255,1) 56%, rgba(255,255,255,1) 56%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(240,240,240,1) 0%,rgba(255,255,255,1) 56%,rgba(255,255,255,1) 56%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(240,240,240,1) 0%,rgba(255,255,255,1) 56%,rgba(255,255,255,1) 56%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
        border-top: 3px solid @bordo;

        .partner-blocks {
            h1 {
                display: block;
                text-align: center;
                font-weight: bold;
            }

            hr {
                width: 100px;
                height: 3px;
                background: #be3343;
                border: none;
                animation-delay: .3s !important;
                margin-bottom: 50px;
            }

            img {
                display: block;
                width: 150px;
                height: 130px;
                margin: 0 auto;
                cursor: pointer;
                transition: 0.4s;
            }

            img:hover {
                margin: 0 auto;
                transition: 0.4s;
                padding: 5px;
            }
        }
    }

    .news-block {
        margin: 0 auto;
        color: @bordo;
        font-weight: 700;
        padding: 50px;
        box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
        background: url(../img/background2.jpg) repeat center;
        background-position: center;
        background-size: cover;

        h1 {
            display: block;
            text-align: center;
            font-weight: bold;
        }

        hr {
            width: 100px;
            height: 3px;
            background: @bordo;
            border: none;
            animation-delay: 0.3s !important;
            margin-bottom: 50px;
        }

        .container-blocks:hover {
            -webkit-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.5);
            -moz-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.5);
            box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.5);
            transition: 0.4s;
        }

        .container-blocks {
            background: @white;
            width: 30%;
            padding: 20px;
            margin-left: 10px;
            margin-right: 10px;
            -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            transition: 0.4s;
            margin-bottom: 50px;

            .title-block {
                font-weight: 700;
                word-break: break-word;

                h4 {
                    font-weight: inherit;
                }
            }

            .img-block {
                width: 100%;
                height: 171px;
                max-width: 311px;
                max-height: 171px;
                margin: 0 auto;
            }

            .img-bg-1 {
                background: url('../img/kaposvar2.jpg');
                background-position: center;
                background-size: cover;
            }

            .img-bg-2 {
                background: url('../img/gdpr.jpg');
                background-position: center;
                background-size: cover;
            }

            .img-bg-3 {
                background: url('../img/forum.jpg');
                background-position: center;
                background-size: cover;
            }

            hr {
                margin-bottom: 5px;
                height: 2px;
            }

            .lead-block {
                padding: 15px;
                word-break: break-word;
                color: @black;
                font-weight: 400;
            }

            span {
                padding: 10px;
                width: 60%;
                text-align: center;
                background: red;
                color: @white;
                background: @bordo;
                display: block;
                margin: 0 auto;
                transition: 0.4s;
            }

            span:hover {
                background: @dark-bordo;
                transition: 0.4s;
            }

            a {
                text-decoration: none;
            }
        }
    }

    #map {
        width: 100%;
        height: 399px;
    }

    footer {
        display: flex;
        padding: 20px 0 20px;
        align-items: center;
        background: @dark;

        h3 {
            color: @white;
            border-bottom: 1px solid #f0f0f0;
            padding: 10px;
        }

        span {
            display: block;
            color: @white;
            padding: 10px;
        }

        a {
            padding: 10px;
            color: @white;
            display: block;
            text-decoration: none;
        }

        a:hover {
            color: @white;
        }

        img {
            width: 125px;
        }
    }
}

.add-btn{
  display: block;
  padding: 10px 20px;
  background: #ff5c23;
  border: 0;
  color: @white;
  cursor: pointer;
  transition: 0.2s;
}
.add-btn:hover{
  background: #4fa3fc;
  transition: 0.2s;
}

.modal {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
    animation-name: animacio_speed;
    animation-duration: 0.3s;

    .modal-content {
        background: #f4f4f4;
        margin: 100px auto;
        width: 40%;
        border: none;

        .modal-head {
            width: 100%;
            height: auto;
            position: relative;
            padding: 20px;
            background: -moz-linear-gradient(top, #a90329 0, #8f0222 44%, #6d0019 100%);
            background: -webkit-linear-gradient(top, #a90329 0, #8f0222 44%, #6d0019 100%);
            background: linear-gradient(to bottom, #a90329 0, #8f0222 44%, #6d0019 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a90329', endColorstr='#6d0019', GradientType=0);
            display: flex;
            justify-content: space-between;

            span {
                color: @white;
                font-size: 18px;
                font-family: 'Julius Sans One',sans-serif;
                font-weight: 700;
            }

            .closeBtn {
                position: absolute;
                color: @white;
                right: 10px;
                top: 2px;
                font-size: 30px;
                transition: 0.4s;
            }

            .closeBtn:hover, .closeBtn:focus {
                color: black;
                text-decoration: none;
                cursor: pointer;
                transition: 0.4s;
            }
        }

        .registration-block {
            background: url('../img/folyoirat.png');
            width: 100%;
            background-position: center center;
            background-size: cover;
            display: block;
            padding: 25px 0 25px;

            span {
                display: block;
                text-align: center;
                color: @white;
                padding-bottom: 15px;
            }

            a {
                text-decoration: none;

                p {
                    color: #fff;
                    padding: 10px;
                    background: @orange;
                    width: 125px;
                    margin: 0 auto;
                    text-align: center;
                    transition: 0.4s;
                    border: 1px solid transparent;
                }

                p:hover {
                    background: @dark-orange;
                    transition: 0.4s;
                    border: 1px solid #fff;
                }
            }
        }

        .modal-article {
            width: 100%;
            padding: 25px 20px;
            word-break: break-all;
            margin: 0 auto;
            background: @grey;

            .user-input {
                width: 100%;
                display: flex;
                margin-bottom: 20px;
            }

            .user-password {
                width: 100%;
                display: flex;
                margin-bottom: 20px;
            }

            input {
                width: 100%;
                text-align: center;
                width: 336px;
                height: 42px;
                margin: 0 auto;
            }

            .button-section {
                display: flex;
                justify-content: center;

                button {
                    width: 150px;
                }

                .btn-login {
                    background: @green !important;
                }

                .btn-login:hover {
                    background: #5bb659 !important;
                }

                .btn-cancel {
                    background: @bordo !important;
                }

                .btn-cancel:hover {
                    background: #d24252 !important;
                }
            }
        }
    }
}


.carousel-inner .item{
    border-top: 3px solid @bordo;
    text-align: center;
    height: 400px;
}
.control-buttons{
	text-align:center;
}
.transition-timer-carousel-progress-bar {
    height: 2px;
    background-color: @bordo;
    width: 0;
    margin: 0 0 0 0;
    border: none;
    z-index: 11;
    position: relative;
}
.carousel-control{
	z-index: 11;
}


.slider1{
  background: url('../img/header-1.jpg');
  background-size: cover;
  background-position: center center;
  h1, h3{
    font-weight: 700;

  }
}
.slider2{
  background: url('../img/gdpr-europe.jpg');
  background-size: cover;
  background-position: center center;
  h1, h3{
    font-weight: 700;
  }
}
.slider3{
  background: url('../img/header-2.jpg');
  background-size: cover;
  background-position: center center;
  h1, h3{
    font-weight: 700;
  }
}

/*  Keyfreams  */

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes scrollAnimate {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes scrollAnimate {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes animacio_speed {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}


.inprogress{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;

  span{
    padding: 100px 0 100px;
    font-size: 25px;
  }
}
.bg-block2 {
    background: url(../img/background.jpg) repeat center;
    animation-delay: 0.1s;
    border-bottom: 2px solid @bordo;
}

.bg-block {
    background: url(../img/background3.jpg) repeat center;
    background-position: center;
    background-size: cover;
    animation-delay: 0.1s;
    border-bottom: 2px solid @bordo;

    .document-bock {
        background: @white;
        height: auto;
        padding: 20px;
        margin: 40px 0 40px;
        -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        border-bottom: 2px solid gainsboro;
}
        .container-blocks {
            background: transparent;
            width: 100%;
            padding: 20px;
        }
    }


.document-block {

    .assistants {
        float: right;
    }

    h3 {
        display: block;
        font-weight: bold;
        color: @bordo;
        text-align: center;
    }

    .management-block {
        h1 {
            display: block;
            font-weight: bold;
            color: @bordo;
        }

        span {
        }

        hr {
            width: 100px;
            height: 3px;
            background: #be3343;
            border: none;
            animation-delay: 0.3s !important;
            margin-bottom: 50px;
        }

        a {
            display: block;
            text-decoration: none;
            color: @bordo;
        }
    }

    .container-blocks:hover {
        -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.5);
        box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.5);
        transition: 0.2s;
    }

    .container-blocks {
        width: 30%;
        padding: 20px;
        background: @white;
        margin-left: 10px;
        margin-right: 10px;
        -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        margin-bottom: 50px;

        .title {
            background: @bordo;
            height: 50px;
        }

        img {
            margin: 0 auto;
            display: block;
        }

        a {
            color: @bordo;
            font-size: 15px;
            font-weight: 700;

            span {
                text-align: center;
                display: block;
                padding-bottom: 15px;
            }
        }

        p {
            text-align: center;
            display: block;
            line-height: 5px;
            padding-top: 5px;
        }
    }
}

.management-block {
    background: @white;
    height: auto;
    padding: 20px;
    margin: 40px 0 40px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;

    .bg-color {
        background: #f4f4f4;
    }

    h1 {
        display: block;
        font-weight: bold;
        color: @bordo;
    }

    .persons-container {
        height: 180px;
        border: 1px solid #cecece;
        margin-bottom: 10px;

        h3 {
            display: block;
            font-weight: bold;
            color: @bordo;
        }

        span {
            display: block;
            font-weight: bold;
            font-size: 18px;
        }

        img {
            width: 100%;
            padding-top: 20px;
        }
    }

    .calendar {
        background: @bordo;
        padding: 10px;
        margin-bottom: 20px;

        h3 {
            color: @white;
            margin: 0;
        }
    }

    .img-section {
        img {
            width: 100%;
            display: block;
        }
    }

    .credit-account-number {
        h3 {
            color: @bordo;
            font-weight: 700;
        }

        span {
            display: block;
            padding-bottom: 15px;
        }
    }
}




#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: @bordo;
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top:hover {
    background: #8f0222;
}

#return-to-top:hover i {
    color: #fff;
    top: 5px;
}





#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: @bordo;
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 15;

    i {
        color: #fff;
        margin: 0;
        position: relative;
        left: 16px;
        top: 13px;
        font-size: 19px;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
}


#return-to-top:hover {
    background: #8f0222;

    i {
        color: #fff;
        top: 5px;
    }
}

